.table-view {
    -fx-background-color: black;
	-fx-font-size: 25px;
	-fx-font-family: 'Press Start 2P';
}

.table-column {
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-alignment: center;
	-fx-border-color: transparent;
}

.table-view .column-header-background .label {
	-fx-text-fill: yellow;
	-fx-font-family: 'Karmatic Arcade';
}