@font-face {
    font-family: Commodore 64;
    src: url('Commodore-64-v6.3.TTF');
}
 
#mainpanel {
    -fx-background-image: url("pang.jpg");
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#panel {
    -fx-background-color: rgb(0, 0, 0);
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-family: 'Commodore 64';
}

.button:hover {
    -fx-font-weight: bold;
}

#single {
    -fx-background-color: black;
    -fx-background-image: url("singleplayer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-size: 65%;
    -fx-background-position: center center;
}

#single:hover {
    -fx-background-size: 60%;
}

#multi {
    -fx-background-color: black;
    -fx-background-image: url("multiplayer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-size: 65%;
    -fx-background-position: center center;
}

#multi:hover {
    -fx-background-size: 60%;
}

#survival {
    -fx-background-color: black;
    -fx-background-image: url("survivalmode.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-size: 65%;
    -fx-background-position: center center;
}

#survival:hover {
    -fx-background-size:60%;
}

#arcade {
    -fx-background-color: black;
    -fx-background-image: url("tourmode.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-size: 65%;
    -fx-background-position: center center;
}

#arcade:hover {
    -fx-background-size: 60%;
}

