@font-face{
	-fx-font-family: 'Preschool Bits';
	src: url('PreschoolBits.ttf');
 }
 
 
#mainpanel{
	-fx-font-size: 20px;
	-fx-background-image: url("pang.jpg");
	-fx-background-color: rgb(0, 0, 0); 
	-fx-background-repeat: stretch;
	-fx-background-size: 900 506;
    -fx-background-position: center center;
}

#panel{
	-fx-background-color: rgb(0, 0, 0);
}

#start-button{
	-fx-background-color: linear-gradient(#EBDF37, #FFFF00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-font-family: 'Preschool Bits';
}

#back{
	-fx-background-color: linear-gradient(#EBDF37, #FFFF00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-font-family: 'Preschool Bits';
}

#single{
	-fx-background-color: black;
	-fx-background-image: url("singleplayer.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-size: 65%;
    -fx-background-position: center center;
}

#single:hover{
	-fx-background-size: 60%;
}

#multi{
	-fx-background-color: black;
	-fx-background-image: url("multiplayer.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-size: 65%;
    -fx-background-position: center center;
}
#multi:hover{
	-fx-background-size: 60%;
}

#survival{
	-fx-background-color: black;
	-fx-background-image: url("survivalmode.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-size: 65%;
    -fx-background-position: center center;
}
#survival:hover{
	-fx-background-size:60%;
}

#arcade{
	-fx-background-color: black;
	-fx-background-image: url("tourmode.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-size: 65%;
    -fx-background-position: center center;
}
#arcade:hover{
	-fx-background-size: 60%;
}

